extends layout

block content
    h1= title
    p Welcome to #{title}
    body
        p Tokyo's coordinates are latitude: #{lat} and longitude: #{lon}
        p The temperature is #{temp}C with a max of #{max}C and a low of #{low}C
        p Visibility is #{V} and it feels like #{feels}C


